<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no"
    />
    <title>WEAVV CSS</title>
    <link
      href="assets/css/style.css"
      rel="stylesheet"
      rel="preload"
      as="style"
      media="all"
      defer
    />
  </head>

  <body class="container">

    <div class="(group) relative flex flex-column flex-center">

      <main-header
        text="Welcome to WEAVV CSS Demo">
      </main-header>

      <profile-avatar
        image="https://i.pravatar.cc/250?15"
        name="John Doe">
      </profile-avatar>

      <div class="stack-1 relative margin-8 (md)max-width-screen-sm flex (sm)flex-row (md)flex-column (md)justify-center (sm)justify-between items-center bg-white curve-border-lg (hover)shadow-dreamy-lg transition duration-300 linear overflow-hidden cursor-pointer">

        <img class="transform (group-hover)scale-105 duration-300 (md)width-full (sm)width-64 (md)height-40 (sm)height-88 object-cover object-center bg-tint-onyx-3 bg-tint-onyx-5 filter brightness-4 saturate-2" sizes="70vmin" srcset="https://images.pexels.com/photos/1034662/pexels-photo-1034662.jpeg?auto=compress&cs=tinysrgb&w=300 300w, https://images.pexels.com/photos/1034662/pexels-photo-1034662.jpeg?auto=compress&cs=tinysrgb&w=640 600w">

        <main-article></main-article>

        <social-networks></social-networks>

        <my-followers></my-followers>

      </div>

      <more-artworks></more-artworks>

      <main-footer></main-footer>

    </div>

    <script src="assets/js/components/main-header.js" type="module"></script>
    <script src="assets/js/components/profile-avatar.js" type="module"></script>
    <script src="assets/js/components/main-article.js" type="module"></script>
    <script src="assets/js/components/social-networks.js" type="module"></script>
    <script src="assets/js/components/my-followers.js" type="module"></script>
    <script src="assets/js/components/more-artworks.js" type="module"></script>
    <script src="assets/js/components/main-footer.js" type="module"></script>

    <!-- End Example -->

  </body>
</html>
