<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no"
    >
    <title>
      WEAVV CSS Project
    </title>
    <link
      href="assets/css/style.css"
      rel="stylesheet"
      rel="preload"
      as="style"
      media="all"
      defer
    >
  </head>

  <body class="font-default antialiased text-gray-6 (dark)text-gray-3 bg-gray-2 (dark)bg-gray-7">

    <div class="height-screen (xs)padding-x-4 flex flex-column justify-center items-center">
      <div class="padding-b-10 text-xl-2 animation fade-in-up delay-2">
        Welcome to
        <span class="margin-2 inline-block font-semibold underline">
          XARD CSS
        </span>
        playground
      </div>
      <div class="(xs)max-width-full (sm)max-width-xs padding-10 flex (xs)flex-column (sm)flex-row justify-around items-center bg-white (dark)bg-charcoal-7 curvy-lg shadow-dreamy width-full animation fade-in-up overflow-hidden">
        <div class="height-20 width-20 bg-gray-6 curvy-full"></div>
        <div class="(xs)padding-t-4 (sm)padding-t-0 (xs)text-xl-2 (sm)text-xl text-gray-6">
          Hello World!
        </div>
      </div>
      <!--
        See `src/assets/scss/base.scss` to learn understand
        how to Extract XARD CSS utility classes with `@extend`
        directive. Read more at (https://xardcss.netlify.app/extract-utility-classes/).
      -->
      <div class="footer">
        Start craft something new
        <span>
          today!
        </span>
      </div>
    </div>

    <!-- End Example -->

    <script src="assets/js/app.js"></script>
  </body>

</html>
