<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no"
    />
    <title>WEAVV CSS</title>
    <link
      href="assets/css/style.css"
      rel="stylesheet"
      rel="preload"
      as="style"
      media="all"
      defer
    />
  </head>

  <body> <!-- see `base.scss` -->

    <div class="container"> <!-- see `base.scss` -->

      <main-header
        text="Welcome to WEAVV CSS Demo">
      </main-header>

      <profile-avatar
        image="https://i.pravatar.cc/250?15"
        name="John Doe"
        url="https://#">
      </profile-avatar>

      <div class="card"> <!-- see `base.scss` -->

        <profile-image
          title="PEXELS"
          url="https://images.pexels.com/photos/1034662/pexels-photo-1034662.jpeg">
        </profile-image>

        <main-article
          article="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id magna in purus sodales efficitur. Maecenas consequat sem magna, mollis pulvinar ante tincidunt quis.">
        </main-article>

        <social-networks></social-networks>

        <my-followers></my-followers>

      </div>

      <more-artworks
        copyright="Arkworks &copy; John Doe">
      </more-artworks>

      <main-footer></main-footer>

    </div>

    <script src="views/components/main-header.js" type="module"></script>
    <script src="views/components/profile-avatar.js" type="module"></script>
    <script src="views/components/profile-image.js" type="module"></script>
    <script src="views/components/main-article.js" type="module"></script>
    <script src="views/components/social-networks.js" type="module"></script>
    <script src="views/components/my-followers.js" type="module"></script>
    <script src="views/components/more-artworks.js" type="module"></script>
    <script src="views/components/main-footer.js" type="module"></script>

    <!-- End Example -->

  </body>
</html>
